* {
    padding: 0;
    margin: 0;
    
  }
  body {
    font-family: 'DM Sans', sans-serif !important;
  }

header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    color: white;
    
}

header .logo {
  padding-left: 30px;
    padding-right: 50px
}
header .navigation ul {
    color: #b3b3b3;
  list-style: none;
  margin-top: 20px;
  font-weight: bold;
  padding-left: 20px;
}
  header .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
  }
  header .navigation ul li a:hover,
  header .navigation ul li a:active,
  header .navigation ul li a:focus {
    color: #ffffff;
  }
  header .navigation ul li a:hover .fa,
  header .navigation ul li a:active .fa,
  header .navigation ul li a:focus .fa {
    color: #b3b3b3;
  }
  header .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
  }
  header .navigation ul li a:hover .fa:hover,
  header .navigation ul li a:hover .fa:active,
  header .navigation ul li a:hover .fa:focus {
    color: #ffffff;
  }


.topbar {
  position: fixed;
    top: 0;
    left:262px;
    right: 0;
    display: flex;
    justify-content: space-between !important;
    padding: 20px;
    background-color: #191D20;

  }
  .topbar .search{
    width: 70%;
  }
  .topbar
    form {
        color: #555;
        display: flex;
        padding: 2px;
        border: 1px solid currentColor;
        border-radius: 5px;
        /* margin: 0 0 30px; */
      }
      
      input[type="search"] {
        border: none;
        background: transparent;
        margin: 0;
        padding: 7px 8px;
        font-size: 14px;
        color: white;
        border: 1px solid transparent;
        border-radius: inherit;
      }
      
      input[type="search"]::placeholder {
        color: #bbb;
      }
      
      button[type="submit"] {
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: inherit;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
        cursor: pointer;
        opacity: 0.7;
      }
      
      button[type="submit"]:hover {
        opacity: 1;
      }
      
      button[type="submit"]:focus,
      input[type="search"]:focus {
        box-shadow: 0 0 3px 0 #1183d6;
        border-color: #1183d6;
        outline: none;
      }
      
      form.nosubmit {
       border: none;
       padding: 0;
      }
      
      input.nosubmit {
        border: 1px solid #555;
        width: 100%;
        padding: 9px 4px 9px 40px;
        background: transparent url("images/search\ 1search.png") no-repeat 13px center;
      }
  .topbar .profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;

  }
 .topbar button{
    border: 1px solid #FF2424;
    background-color:#FF2424;
    padding: 7px;
  width: 100px;
    border-radius: 3px;
    color: white;
 }
#main-scroll-page{
  background: linear-gradient(180deg, #222222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, rgba(18, 18, 18, 0) 100%);
  background-color: #121212;
  margin-left: 260px;
}
#featured {
  padding: 10px;
  padding-top: 100px;
}



#menu-grid {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    color: white;
}
#menu-grid .card {
  /* margin-left: 250px; */
  position: relative;
  margin-bottom: 30px;
  background-color: #191d20;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: white;
}

.card h4 {
  margin: 10px 0;
  font-size: 18px;
  color: white;
}

.add-button {
  position: absolute;
    bottom: 40px;
    right: 10px;
    width: 45px;
    border: none;
    border-radius: 3px;
    color: #000000;
    font-size: 24px;
    cursor: pointer;

}